:root {
  --swiper-theme-color: #ffba08;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 2rem;
}

@media (max-width: 48em) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1.5rem;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}

@media (max-width: 30em) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1rem;
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}
